@import "../../../styles/variables.scss";

.copyright {
  color: $white;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 100%;
}
