$sans-serif: "Roboto", "Helvetica Neue", sans-serif;

$whitest: #fffdfc;
$white: #faf9f8;
$accent: #374670;
$accent-fade: #3a5bb5;
$navy: #23376e;
$logo-dark: #3a5bb5;
$logo-light: #0d9edf;
$gray: #6d6c6b;
$gray-dark: #545350;
$red-dark: #543232;
$red: #d80a0a;
$black: #302828;
$divider: #b4b4b4;

$transition: cubic-bezier(0.215, 0.61, 0.355, 1);
