<div class="top_bar">
  <div class="page_title">
    <h1 class="page_title_h1">Change Picture</h1>
  </div>
</div>
<hr class="title_divider" />
<div *ngIf="!files.length" class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
  <div class="text-wrapper">
    <div class="centered">Drop your avatar here</div>
  </div>
</div>
<!--droped image preview-->
<div *ngFor="let file of files">
  <img *ngIf="file" [src]="file.url" width="100px" height="100px">
</div>

<button class="upload_button" mat-flat-button type="submit" (click)="upload()">Save</button>
