@import "../../../styles/variables.scss";

// User Details
.user_section {
  text-align: center;
}

.user_picture img {
  border-radius: 40%;
  background: $navy;
  width: 80px;
  height: 80px;
  z-index: 2;
  filter: drop-shadow(0 0.5em 0.5em rgba($black, 0.25));
}

.blur {
  content: "";
  width: 80px;
  height: 80px;
  margin-right: -80px;
  opacity: 0.5;
  z-index: 1 !important;
  -webkit-filter: blur(0.8em) saturate(4) !important;
  filter: blur(1.4em) saturate(4) !important;
}

.user_role {
  margin-top: -0.6em;
  text-transform: capitalize;
}

.user_name {
  text-transform: uppercase;
}

// Links
.links_section {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.links ul li {
  position: relative;
  color: $gray-dark;
  background: rgba($white, 0);
  transition: 0.5s $transition;
  cursor: pointer;
  padding: 0.3em 1.5em;
  z-index: 2;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    background: $logo-dark;
    padding: 0.95em 0.2em;
    margin-top: -0.3em;
    margin-left: -1.9em;
    transition: 0.1s $transition;
    opacity: 0;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    background: blue;
    padding: 0.95em 0;
    margin-top: -0.3em;
    width: 60%;
    background: linear-gradient(90deg, rgba($logo-dark, 0.2) 0%, transparent 90%);
    transition: 0.15s $transition;
    opacity: 0;
    z-index: -1;
  }
}

.links ul li:visited,
.links ul li:active {
  background: rgba($logo-dark, 0.2);
  width: 100%;
  margin-left: -2em;
  padding: 0.3em 1em 0.3em 3em;
}

.active_link {
  width: 100%;
  margin-left: -1em;
  font-weight: 600;
  transition: 0.15s $transition;
  color: $navy;

  &:before {
    content: "";
    position: absolute;
    left: -0.8em;
    background: $logo-dark;
    padding: 0.95em 0.2em;
    margin-top: -0.3em;
    transition: 0.1s $transition;
    opacity: 1;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    left: -0.4em;
    background: blue;
    padding: 0.95em 0;
    margin-top: -0.3em;
    width: 60%;
    background: linear-gradient(90deg, rgba($logo-dark, 0.2) 0%, transparent 90%);
    transition: 0.15s $transition;
    opacity: 1;
    z-index: -1;
  }
}

.links ul li:hover {
  transition: 0.15s $transition;
  color: $navy;
  width: auto;
  margin-left: -2em;
  padding: 0.3em 1.5em 0.3em 3em;

  &:before {
    transition: 0.3s $transition;
    opacity: 1;
  }

  &:after {
    transition: 0.3s $transition;
    opacity: 1;
  }
}

.link_title {
  display: inline-block;
  background: $whitest;
  padding: 0.5em 0.5em 0.5em 0;
  margin: 0;
  z-index: 2;
  position: relative;
  text-transform: uppercase;
}

.divider_title {
  display: inline-block;
  text-align: right;
  width: 90%;
  background: $gray-dark;
  position: absolute;
  right: 0;
  top: 1em;
  z-index: 1;
}

// Application Details
.logo {
  position: absolute;
  text-align: center;
  height: 10em;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 10px;
  padding-bottom: 0.5em;
  background: linear-gradient(transparent 0%, rgba($divider, 0.8) 100%);
}

.logo img {
  width: 5em;
  height: auto;
}

.logo .app_title {
  margin: -0.5em 0 0 0;
  color: $navy;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: -0.05em;
  font-weight: 600;
}
