<div class="dashboard">
  <div *ngIf="userIsAuthenticated" class="left_section">
    <div class="user_section">
      <div class="user_picture">
        <img class="blur" [src]="this.authService.currentUser.avatarPath"
          onError="this.src='../../../assets/images/avatar.jpeg';" alt="User Profile Blur Image" />
        <img [src]="this.authService.currentUser.avatarPath"
          onError="this.src='../../../assets/images/avatar.jpeg';" alt="User Profile Image" />
      </div>

      <h2 class="user_name">{{ this.authService.currentUser.fullName }}</h2>
      <h3 class="user_role">{{ this.authService.currentUser.userType }}</h3>
      <br />
    </div>

    <div class="links">
      <div class="links_section">
        <h2 class="link_title">Dashboard</h2>
        <hr class="divider_title" />
      </div>
      <ul>
        <li><a routerLink="overview" routerLinkActive="active_link">Overview</a></li>
        <li><a routerLink="my-orders" routerLinkActive="active_link">My Orders</a></li>
        <li><a routerLink="client-form" routerLinkActive="active_link">Create Order</a></li>
        <li><a href="">Plan</a></li>
        <li><a routerLink="reports" routerLinkActive="active_link">Reports</a></li>
        <li><a href="">Reviews</a></li>
        <li><a routerLink="contact" routerLinkActive="active_link">Contact</a></li>
      </ul>
      <br />
      <div class="links_section">
        <h2 class="link_title">Account</h2>
        <hr class="divider_title" />
      </div>
      <ul>
        <li><a routerLink="account" routerLinkActive="active_link">Settings</a></li>
        <li><a routerLink="change-picture" routerLinkActive="active_link">Change Picture</a></li>
        <li (click)="logout()"><a>Log Out</a></li>
      </ul>
    </div>

    <div class="logo">
      <img src="../../../assets/icons/logo.svg" alt="Expedio Logo" />
      <h2 class="app_title">Expedio</h2>
    </div>
  </div>

  <div *ngIf="userIsAuthenticated" class="right_section">
    <div class="page_section" [@dashboardAnimation]="dashboardOutlet.isActivated ? dashboardOutlet.activatedRoute : ''"
      style="position: relative">
      <router-outlet #dashboardOutlet="outlet"></router-outlet>
    </div>
  </div>
</div>
