<div class="top_bar">
  <div class="page_title">
    <hr class="" />
    <h1 class="page_title_h1">My Commands</h1>
  </div>
  <div class="notifications">
    <mat-icon aria-hidden="false" aria-label="Notification">
      notifications_active</mat-icon>
    <div class="notifications_number">
      <p>2</p>
    </div>
  </div>
</div>
<hr class="title_divider" />

<mat-accordion *ngFor="let command of userCommands">

  <mat-expansion-panel [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        AWB:&nbsp;{{command.awb}}
      </mat-panel-title>
      <mat-panel-description>
        {{command.loadingPlace.date | date: 'dd/MM/yyyy'}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-tab-group>
      <mat-tab label="Your Information">
        <ng-template matTabContent>
          <p>Name: {{command.sender.fullName}}</p>
          <p>CNP: {{command.sender.cnp}}</p>
          <p>Address: {{command.sender.address}}</p>
          <p>Country: {{command.sender.country}}</p>
        </ng-template>
      </mat-tab>

      <mat-tab label="Recipient Information">
        <ng-template matTabContent>
          <p>Name: {{command.recipient.fullName}}</p>
          <p>CNP: {{command.recipient.cnp}}</p>
          <p>Address: {{command.recipient.address}}</p>
          <p>Country: {{command.recipient.country}}</p>
        </ng-template>
      </mat-tab>

      <mat-tab label="Loading Place">
        <ng-template matTabContent>
          <p>Date: {{command.loadingPlace.date | date: 'dd/MM/yyyy'}}</p>
          <p>Address: {{command.loadingPlace.address}}</p>
          <p>Country: {{command.loadingPlace.country}}</p>
        </ng-template>
      </mat-tab>

      <mat-tab label="Deposit Place">
        <ng-template matTabContent>
          <p>Name: {{command.deposit.name}}</p>
          <p>Address: {{command.deposit.address}}</p>
          <p>Country: {{command.deposit.country}}</p>
        </ng-template>
      </mat-tab>

      <mat-tab label="Packages">
        <ng-template matTabContent>
          <p>Instructions: {{command.sender.instructions}}</p>
          <div *ngFor="let item of command.packagesList; let i=index">
            {{item}}
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </mat-expansion-panel>
</mat-accordion>
